<form name="upload_form" id="upload_form" action="<tmpl_var name=form_action>" method="post" enctype="multipart/form-data">
<table>
<tmpl_if name=error>
<tr><td align="center" colspan="2"><div style="color: red"><tmpl_var name=error></div></td></tr>
</tmpl_if>
<tr><td align="center" colspan="2">Results of previous upload</td></tr>
<tr><td>Original file name 1:</td><td><tmpl_var name=original_file_name_1 escape=html></td></tr>
<tr><td>Uploaded file name 1:</td><td><tmpl_var name=uploaded_file_name_1 escape=html></td></tr>
<tr><td>File size 1:</td><td><tmpl_var name=size_1> bytes</td></tr>
<tr><td>Mime type 1:</td><td><tmpl_var name=mime_type_1></td></tr>
<tr><td><hr /></td><td><hr /></td></tr>
<tr><td>Original file name 2:</td><td><tmpl_var name=original_file_name_2 escape=html></td></tr>
<tr><td>Uploaded file name 2:</td><td><tmpl_var name=uploaded_file_name_2 escape=html></td></tr>
<tr><td>File size 2:</td><td><tmpl_var name=size_2> bytes</td></tr>
<tr><td>Mime type 2:</td><td><tmpl_var name=mime_type_2></td></tr>
<tr><td><hr /></td><td><hr /></td></tr>
<tr><td align="center" colspan="2">New upload</td></tr>
<tr><td>File name</td><td><input type="file" name="file_name_1" id="file_name_1" size="100" /></td></tr>
<tr><td>File name</td><td><input type="file" name="file_name_2" id="file_name_2" size="100" /></td></tr>
<tr><td align="center" colspan="2"><input type="submit" name="submit" value="Upload" /></td></tr>
</table>
</form>
