<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<title>Uploads</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
.blue_center
{
	background-color: #60c0ff;
	font-weight: bold;
	text-align: center;
}
</style>
</head>

<body>

<h3 class="blue_center"><tmpl_var name=name></h3>

<table align="center">
<tr><td><div id="container"><tmpl_var name=content></div></td></tr>
</table>

</body>
</html>
